- unless @coffee_shops.nil?
  %table{ border: 1,  class: 'table table-bordered text-white mt-2 border-secondary' }
    %thead
      %tr
        %th Name:
        %th Latitude:
        %th Longitude:
    %tbody
      - @coffee_shops.each do |coffee_shop|
        %tr
          %td= coffee_shop[:name]
          %td= coffee_shop[:latitude]
          %td= coffee_shop[:longitude]
