%div{ class: 'd-flex align-items-center justify-content-between mb-3' }
  %div{ class: 'd-flex align-items-center gap-2' }
    %img{ src: 'favicon.ico', alt: 'Image Alt Text', width: '35px' }
      %h3 #{page_title}
  %a.button.btn.btn-primary{ href: "#{button_href}" } #{button_label}
