= haml :_style, locals: { button_label: 'Search coffee shops near you',
                          page_title: 'Coffee Shops finder',
                          button_href: '/search' }
= haml :_coffee_shops
